$color: (
	c-white: #ffffff,
	c-black: #000000,
	c-black02: #242424,
	c-blue: #286478,
	c-blue02: #97C8D6,
	c-blue03: #97C8D6,
	c-ciano: #01ffb7,
	c-ciano-dark: #0ab6b9,
	c-dourado:#A57D50,
	c-pink: #E7478F,
	c-red: #C82038,
	c-green: #3BBF7F,
	c-green02: #5D6A2F,
	c-green03: #4D5A21,
	c-gray01: #C0C0C0,
	c-gray02: #9E9E9E,
	c-gray03: #616161,
	c-gray04: #212121,
	c-gray05: #999999,
	c-gray06: #E5E5E5,
	c-gray07: #333333,
	c-gray08: #F5F5F5,
  c-gray09: #F2F2F2,
  c-gray10: #DEDEDE,
  c-gray11: #939388,
  c-gray12: #C7C7C7,
  c-gray13: #F0F0F0,
  c-gray14: #757575,
  c-gray15: #4C4C4C,
  c-gray16: #DBDBDB,
  c-gray17: #DADADA,
  c-gray18: #C4C4C4,
  c-brown: #2C0A00,
  c-brown02: #59120B,
  c-brown03: #350B07,
  c-brown04: #500F0F,
  c-brown05: #EEE9DF,
  c-brown06: #968778,
  c-brown07: #C8B496,
  c-yellow: #FF9F3F,
  c-yellow02: #FBBC05,
  c-yellow03: #FFD35C,
  c-yellow04: #FAAF3C,
  c-orange: #EB6223,
  c-orange02: #DC5A28
) !default;

$c-white: map-get($color, 'c-white');
$c-black: map-get($color, 'c-black');
$c-black02: map-get($color, 'c-black02');
$c-blue: map-get($color, 'c-blue');
$c-blue02: map-get($color, 'c-blue02');
$c-ciano: map-get($color, 'c-ciano');
$c-ciano-dark: map-get($color, 'c-ciano-dark');
$c-dourado: map-get($color, 'c-dourado');
$c-pink: map-get($color, 'c-pink');
$c-red: map-get($color, 'c-red');
$c-red02: map-get($color, 'c-red02');
$c-green: map-get($color, 'c-green');
$c-green02: map-get($color, 'c-green02');
$c-green03: map-get($color, 'c-green03');
$c-gray01: map-get($color, 'c-gray01');
$c-gray02: map-get($color, 'c-gray02');
$c-gray03: map-get($color, 'c-gray03');
$c-gray04: map-get($color, 'c-gray04');
$c-gray05: map-get($color, 'c-gray05');
$c-gray06: map-get($color, 'c-gray06');
$c-gray07: map-get($color, 'c-gray07');
$c-gray08: map-get($color, 'c-gray08');
$c-gray09: map-get($color, 'c-gray09');
$c-gray10: map-get($color, 'c-gray10');
$c-gray11: map-get($color, 'c-gray11');
$c-gray12: map-get($color, 'c-gray12');
$c-gray13: map-get($color, 'c-gray13');
$c-gray14: map-get($color, 'c-gray14');
$c-gray15: map-get($color, 'c-gray15');
$c-gray16: map-get($color, 'c-gray16');
$c-gray17: map-get($color, 'c-gray17');
$c-gray18: map-get($color, 'c-gray18');
$c-brown: map-get($color, 'c-brown');
$c-brown02: map-get($color, 'c-brown02');
$c-brown03: map-get($color, 'c-brown03');
$c-brown04: map-get($color, 'c-brown04');
$c-brown05: map-get($color, 'c-brown05');
$c-brown06: map-get($color, 'c-brown06');
$c-brown07: map-get($color, 'c-brown07');
$c-yellow: map-get($color, 'c-yellow');
$c-yellow02: map-get($color, 'c-yellow02');
$c-yellow03: map-get($color, 'c-yellow03');
$c-yellow04: map-get($color, 'c-yellow04');
$c-orange: map-get($color, 'c-orange');
$c-orange02: map-get($color, 'c-orange02');
///////CORES ARQUIVO BASE ///////
$c-base-bg: $c-white;
$c-base-text: $c-gray05;
