@font-face {
    font-family: 'visby_cfbold';
    src: url('../fonts/visbycf-bold-webfont.woff2') format('woff2'),
         url('../fonts/visbycf-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfbold_oblique';
    src: url('../fonts/visbycf-boldoblique-webfont.woff2') format('woff2'),
         url('../fonts/visbycf-boldoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cflight';
    src: url('../fonts/visbycf-light-webfont.woff2') format('woff2'),
         url('../fonts/visbycf-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cflight_oblique';
    src: url('../fonts/visbycf-lightoblique-webfont.woff2') format('woff2'),
         url('../fonts/visbycf-lightoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfmedium';
    src: url('../fonts/visbycf-medium-webfont.woff2') format('woff2'),
         url('../fonts/visbycf-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfmedium_oblique';
    src: url('../fonts/visbycf-mediumoblique-webfont.woff2') format('woff2'),
         url('../fonts/visbycf-mediumoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfregular';
    src: url('../fonts/visbycf-regular-webfont.woff2') format('woff2'),
         url('../fonts/visbycf-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'visby_cfregular_oblique';
    src: url('../fonts/visbycf-regularoblique-webfont.woff2') format('woff2'),
         url('../fonts/visbycf-regularoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}