.inp-header {
	display: flex;
	justify-content: space-between;
	background-color: $c-white;
  border-bottom: 2px solid $c-ciano-dark;
  padding: 16px;

	h1 {
		color: #00cca3;
		font-size: 24px;
		font-weight: bold;
		@include media('>=tablet') {
			font-size: rem(45);
		}
    
	}

	nav {
		ul {
			list-style: none;
			display: flex;

			li {
				a {
					text-decoration: none;
					color: #00cca3;
				}
			}
		}
	}

  &__logo {
    max-width: 160px;
    img {
      @include size(100%)
    }
  }
}