.inp-login {
    background-color: $c-brand-blue-secondary;
    display: flex;
    flex-direction: column;

  h1 {
    margin-top: 100px;
  } 

  &__logo {
    justify-content: center;
  }

  &__welcome {
    label {
      color: $c-white;
      display: block;
      align-items: center;
      margin: 22px;

      font: {
        size: 36px;
        weight:$fw-regular;
        family: visby_cfbold;
      }

    }
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 24px;

    label {
      color: $c-brand-blue-secondary;
      display: block;
    }

    input {
      min-width: 372px;
      padding: 12px 16px;
      border: none;
      border-radius: 10px;
      border: 1px solid $c-white;
      margin: 5px 0;
      background-color: $c-gray08;
      color: $c-gray07;

      font: {
        size: 16px;
        color: $c-gray07;
        weight:$fw-regular;
        family: visby_cfbold;
      }

      &:focus {
        border: 1px solid;
        border-color: $c-brand-blue-primary;
      }
    }

    a {
      color: $c-ciano-dark;
      text-decoration: underline;
    }
    
  }

  &__btn {
    align-items: center;
    justify-content: center;
    background-color:darken($c-brand-blue-primary, 5%);
    margin: 0 24px;
    padding: 6px;
    border-radius: 64px;
    margin: 24px 52px;
    display: flex;
    color: $c-white;

    font: {
      size: 22px;
      weight:$fw-regular;
      family: visby_cfbold;
    }

    &:hover {
      background-color: $c-brand-blue-primary;
    }
  }

  &__signup_label{
    color: $c-white;
    align-items: center;
    padding: 0;
    margin: 48px 0 0;

    font: {
      size: 16px;
      weight:$fw-regular;
      family: visby_cfbold;
    }
  }

  &__signup{
      color: $c-white;
      align-items: center;

      font: {
        color: $c-white;
        size: 26px;
        weight:$fw-regular;
        family: visby_cfbold;
      } 
      
      &:hover {
        text-decoration: underline;
        text-decoration-color: $c-white;
      }
  }

  .login-error{
    display: none;

    &_fail {
      display: block;
      p {
        color: #cc0000;
        font-weight: bold;
        margin: 0;
      }
    }
  }

}
