.inp-login {
    background-color: $c-ciano;
  
  &__form {
    display: flex;
    flex-direction: column;
    padding: 30px;

    label {
      color: $c-black;
      display: block;
    }
    input {
      min-width: 272px;
      font: {
        size: 14px;
      }
      padding: 10px 16px;
      border: none;
      border-radius: 5px;
      border: 1px solid $c-gray01;
      margin: 5px 0;
      &:focus {
        border-color: $c-ciano-dark;
      }
    }

    a {
      color: $c-ciano-dark;
      text-decoration: underline;
    }
    
  }

  &__btn {
    background-color:$c-ciano-dark ;
    padding: 15px;
    border-radius: 4px;
    margin-top: 10px;
    color: $c-white;
    font: {
      size: 14px;
      weight:$fw-regular;
    }
    text-transform: uppercase;
    &:hover {
      background-color: darken($c-ciano-dark, 5%);
    }
  }

}
