.inp-login {
    background-color: $c-brand-blue-secondary;
    display: flex;
    flex-direction: column;

  h1 {
    margin-top: 100px;
  } 

  &__logo {
    justify-content: center;
  }

  &__welcome {
    label {
      color: $c-white;
      display: block;
      align-items: center;
      margin: 22px;
      font: {
        size: 36px;
        weight:$fw-regular;
        family: visby_cfbold;
      }

    }
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
    label {
      color: $c-black;
      display: block;
    }
    input {
      min-width: 272px;
      font: {
        size: 14px;
      }
      padding: 12px 16px;
      border: none;
      border-radius: 10px;
      border: 1px solid $c-gray01;
      margin: 5px 0;
      &:focus {
        border-color: $c-ciano-dark;
      }
    }

    a {
      color: $c-ciano-dark;
      text-decoration: underline;
    }
    
  }

  &__btn {
    align-items: center;
    justify-content: center;
    background-color:darken($c-brand-blue-primary, 5%);
    margin: 0 24px;
    padding: 6px;
    border-radius: 64px;
    margin-top: 24px;
    display: flex;

    color: $c-white;

    font: {
      size: 24px;
      weight:$fw-regular;
      family: visby_cfbold;
    }

    &:hover {
      background-color: $c-brand-blue-primary;
    }
  }

}
